    header {
        display: flex;
        .contNav {
            width: 100%;
            text-transform: uppercase;
            display: grid;
            grid-template-columns: 10% 70% 15%;
            align-items: center;
            justify-content: center;
            z-index: 1;
            text-align: center;
            nav {
                ul {
                    li {
                        display: inline-block;
                        a {
                            text-decoration: none;
                            padding: 20px;
                        }
                    }
                }
            }
        }
    }