.seccionEmpresa {
    padding: 20px;
    .contQuienes {
        p {
            color: white
        }
    }
}

section {
    width: 100%;
    margin-bottom: 20px;
    div {
        div {
            text-align: center;
            padding: 20px;
            display: inline-block;
            margin: auto;
            img {
                width: 100%;
            }
            h2 {
                color: white;
            }
        }
    }
}

.contenidoBuscador {
    margin: auto;
    padding: 20px;
    width: 50%;
    max-width: 500px;
    min-width: 300px;
}