.seccionEmpresa {
    padding: 20px;
    .contQuienes {
        p {
            color: white
        }
    }
}

section {
    width: 80%;
    div {
        text-align: center;
        h2 {
            color: white;
        }
    }
}

.contenidoBuscador {
    margin: auto;
    padding: 20px;
    width: 50%;
    max-width: 500px;
    min-width: 300px;
}